package app

import (
	"context"

	"{{ .ModPath }}/internal/{{ .ModuleName }}/domain"
)

// {{ .TypeName }}Service 封装了围绕 {{ .TypeName }} 的业务逻辑。
type {{ .TypeName }}Service struct {
	repo domain.Repo
}

func New{{ .TypeName }}Service(repo domain.Repo) *{{ .TypeName }}Service {
	return &{{ .TypeName }}Service{repo: repo}
}

func (s *{{ .TypeName }}Service) Get(ctx context.Context, id int64) (*domain.{{ .TypeName }}, error) {
	return s.repo.FindByID(ctx, id)
}

func (s *{{ .TypeName }}Service) Create(ctx context.Context, m *domain.{{ .TypeName }}) (*domain.{{ .TypeName }}, error) {
	return s.repo.Create(ctx, m)
}

func (s *{{ .TypeName }}Service) List(ctx context.Context) ([]*domain.{{ .TypeName }}, error) {
	return s.repo.List(ctx)
}
